.feed-list-item-image {
    justify-content: center;
    padding-left: 40px;

    min-width: 450px;
    max-height: 400px;
}
.feed-list-item-title {
    font-size: 1.8em;
    font-family: fantasy;
    list-style: none;
    text-align: center;
  }
  .post{
    color: white;
    background-image: linear-gradient(to left,#2d00f7,#ff0291);
    box-shadow: 10px 5px 5px #ff0291;
    border-radius: 10%;
    margin-bottom: 4em;
    width: 500px;
    height:auto !important;
  }
  li.feed-list-item {
    list-style: none;
    font-weight: bold;
    font-size: .6em;
    padding-left: 30px;

}
li.feed-list-item-byline {
    list-style: none;
    font-weight: bolder;
    font-size: 0.9em;
    padding-bottom: 11px;
    padding-left: 30px;

}


video.VideoInput_video {
    width: 450px;
    margin-left: 21px;
    justify-content: center;
}
#mybody{
    padding-left: 40px;
    position: relative;
    font-size: 18px;
    font-family: cursive;
    padding-bottom: 20px;
}